<p>
    <li><%= link_to "Create New", :dashboard_new_user %></li>
    <li><%= link_to "List Users", dashboard_list_users_path(count: '0') %></li>
    <li><%= link_to "Search User", :dashboard_search_box %></li>
  </ol>
</p>
