<ul class="list-group">
<% @books.each do |book| %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <h5><%= book.name %></h5>
    <%= book.author %>
    <a class="badge" href="<%= edit_book_path(book.id) %>">
      <span class="glyphicon">&#xe065;</span>
    </a>
  </li>
<% end %>
</ul>