<h1>Review Profile</h1>

<strong>Firstname: </strong><h3><%= @user.firstname %></h3>
<strong>Lastname: </strong><h3><%= @user.lastname %></h3>
<strong>Email: </strong><h3><%= @user.email %></h3>

<%= link_to "Edit Profile", edit_user_path %>