
<div class="row">
  <div class="col-sm-8">
    <h4>Hey there <%= @user_logged.firstname %> check out the newly added books: </h4>
    <br>

    <ul class="list-group">
      <% @books.each do |book, count = 0| %>
        <li class="list-group-item">
          <h5><%= book.name %></h5>
          <h6><%= book.author %></h6>
        </li>
      <% end %>
    </ul>

  </div>
</div>