<div class="row">
  <div class="col-sm-6">
  <h1>Review Profile</h1>
  <br>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Firstname</th>
        <td><%= @user.firstname %></td>
      </tr>
      <tr>
        <th scope="row">Lastname</th>
        <td><%= @user.lastname %></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
    
  </table>
  <%= link_to "Edit Profile", edit_admin_user_path, class: 'btn btn-primary' %>
</div>
</div>